*{
	margin: 0;
	padding: 0;
	list-style: none;
}
main{
	width: 600px;
	height: auto;
	margin: 20px auto;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	background: rgba(119,228,234,0.7);
	overflow: hidden;
}
main>h3{
	text-align: center;
	font-weight: normal;
	line-height: 40px;
}
table{
	border-collapse: collapse;
	margin: 10px auto;
	text-align: center;
}
td{
	padding: 20px 25px;
}
th{
	font-weight: normal;
	line-height: 40px;
	padding: 20px 25px;
}
button{
	width: 45px;
	height: 30px;
	background:rgba(86,145,234,0.7);
	border-radius: 10px;
	color: #fff;
	line-height: 30px;
	text-align: center;

}
button:focus{
	outline: none;
}
.addBut{
	float: right;
	margin-right: 40px;
}
